In [58]:
import pandas as pd
import csv
import numpy as np

In [59]:
df_deaths=pd.read_csv('deaths.tsv', sep='\t')
df_infect=pd.read_csv('infected.tsv', sep='\t')
df_revocer=pd.read_csv('recovered.tsv', sep='\t')

In [60]:
df_infect[df_infect.columns[4:]]
#df_deaths[df_deaths.columns[4:]]
#df_revocer[df_revocer.columns[4:]]

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,3/5/2020,3/6/2020,3/7/2020,3/8/2020,3/9/2020,3/10/2020,3/11/2020,3/12/2020,3/13/2020,3/14/2020
0,2,3,5,7,8,8,14,14,14,19,...,47,48,50,50,50,53,59,70,75,82
1,2,1,2,2,4,4,7,7,11,15,...,360,420,461,502,511,581,639,639,701,773
2,0,1,3,3,4,5,7,7,10,13,...,117,130,138,150,150,160,178,178,200,212
3,0,0,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,0,0,0,3,4,4,4,7,8,8,...,50,83,93,99,117,129,149,149,197,238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
438,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
439,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
440,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
441,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
df = df_infect[df_infect.columns[4:]] - (df_deaths[df_deaths.columns[4:]] + df_revocer[df_revocer.columns[4:]])

In [62]:
df

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,3/5/2020,3/6/2020,3/7/2020,3/8/2020,3/9/2020,3/10/2020,3/11/2020,3/12/2020,3/13/2020,3/14/2020
0,2,3,5,7,6,6,9,9,9,14,...,15,16,18,18,18,19,24,35,39,46
1,2,1,2,2,3,3,6,6,10,14,...,311,368,379,420,425,470,506,505,564,633
2,0,1,3,3,4,5,7,7,10,13,...,39,52,60,72,72,82,82,82,103,107
3,0,0,0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,3,4,4,4,7,8,8,...,28,61,70,75,93,105,123,123,171,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
438,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
439,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
440,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
441,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
df_infect[df_infect.columns[4:]] = df

In [64]:
#df_infect.to_csv('Currently_infected.tsv',sep='\t', quoting=csv.QUOTE_NONE)

In [65]:
np_infect = np.array(df_infect)
countries = np.unique(np_infect[:,1])

In [66]:
dict_c ={country:[0]*len(list(df_deaths[1:1])[4:]) for country in countries} 
for i,row in enumerate(np_infect):
    country = row[1]
    for i,val in enumerate(row[4:]):
        dict_c[country][i]+= val

In [67]:
df_fin = pd.DataFrame.from_dict(dict_c, orient='index')

In [69]:
df_fin.to_csv('Currently_infected_cumu.csv',sep='\t')